@keyframes hover-svg {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.2)
  }
}

@keyframes hover-svg-revers {
  0% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes rotate-1 {
  0% {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@keyframes rotate-2 {
  0% {
    transform: rotate(0deg) translateX(300px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(300px) rotate(-360deg);
  }
}

@keyframes rotate-3 {
  0% {
    transform: rotate(0deg) translateX(450px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(450px) rotate(-360deg);
  }
}

@keyframes rotate-4 {
  0% {
    transform: rotate(0deg) translateX(550px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(550px) rotate(-360deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}


@keyframes phone-ring {
  0% {
    transform: translateZ(0);
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate(-5deg);
  }
    
  30% {
    transform: translate3d(20%, 0, 0) rotate(3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate(-3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate(2deg);
  }
    
  75% {
    transform: translate3d(-5%, 0, 0) rotate(-1deg);
  }
}


@keyframes jump-btn {
  0% {
    transform: translateY(0) scaleY(0.8) scaleX(1.2)
  }

  40% {
    transform: translateY(-30px)
  }
    
  60% {
    transform: translateY(-30px)
  }

  100% {
    transform: translateY(0) scaleY(0.8) scaleX(1.2)
  }
}
  