@keyframes hover-svg {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.2)
  }
}

@keyframes hover-svg-revers {
  0% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}