// Переменные для шрифтов
$font-accent: "Nunito", Times, serif;
$font-default: "Roboto", Arial, Helvetica, sans-serif;
 

// Переменные для цвета
$accent: #4dd6fc;
$blue: #005792;
$title: #424242;

$white: #ffffff;

// Прочие переменные
$slowdown: all 0.3s ease;