@import 'vars';
@import 'mixins';


::placeholder {
  color: #666;
}
  
::selection {
  background-color: $accent;
  color: #fff;
}
  
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: inherit;
}
  
body{
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: $font-default;
  line-height: 1.4;
  color: $blue;
  
  input, textarea {
    border: #666 1px solid;
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
  
.btn {
  display: block;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $accent;
  border: 2px solid #ffffff;
  border-radius: 30px;
  transition: $slowdown;
  cursor: pointer;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(#ffffff, 0.1);
  }
}
   
h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0;
}
  
.title-text {
  position: relative;
  margin-bottom: 0;
  font-size: 24px;
  font-family: $font-accent;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
  
.text-accent {
  color: $accent;
}

.text-black {
  font-weight: 900;
}
  
.text-nowrap {
  white-space: nowrap;
}

@import 'animation';
  

/* grid */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @include desktop {
    max-width: 960px;
  }

  @include laptop {
    max-width: 760px;
    padding: 0 10px;
  }

  @include tablets {
    max-width: 540px;
  }

  @include phones {
    max-width: 320px;
  }
}

.section {
  padding-top: 60px;

  @include laptop {
    padding-top: 50px;
  }

  @include tablets {
    padding-top: 40px;
  }

  @include phones {
    padding-top: 30px;
  }
}


/* header */
.header {
  position: relative;
  background-color: $blue;

  &_home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}

.logo {
  width: 160px;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    color: $white;
    text-decoration: none;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 40px;
    font-family: $font-accent;
  }

  &__description {
    font-size: 15px;
    font-weight: 300;
  }
}

.menu {

  &_hidden {
    display: none;
  }

  &_fixed {
    position: fixed;
    bottom: 50px;
    right: 50px;

    .menu {
      &__list {
        flex-direction: column;
        padding: 10px 0;
        background-color: $blue;
        border-radius: 15px;
        border: 2px solid $white;
      }

      &__item{
        min-width: 30px;
        margin: 0 12px;
      }

      &__link {
        position: relative;
        flex-direction: row-reverse;
        justify-content: flex-start;

        &:hover {
          .menu__name {
            display: block;
            transition: all 0.3s linear, opacity 0.4s ease-in;
          }
        }
      }

      &__name {
        position: absolute;
        top: 50%;
        right: 55px;
        display: none;
        width: auto;
        padding: 3px 6px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        color: $blue;
        text-align: right;
        background-color: $white;
        border: 2px solid $blue;
        border-radius: 5px;
        transform: translateY(-50%);
      }
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    min-width: 110px;
    margin: 0 10px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    font-weight: 300;
    font-size: 13px;
    font-family: $font-accent;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s linear;

    &:hover {
      text-decoration: none;

      .menu__svg {
        animation-name: hover-svg;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-timing-function: ease;
        animation-fill-mode: both;
      }
    }

    &:active {
      color: darken($white, 20%);

      .menu__svg {
        fill: darken($white, 20%);
      }
    }
  }

  &__svg {
    width: 30px;
    height: 30px;
    fill: $white;
    animation-name: hover-svg-revers;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    animation-fill-mode: both;
    transition: fill 0.2s linear;

    &_services {
      width: 26px;
    }

    &_business {
      width: 28px;
    }
  }

  &__name {
    transition: $slowdown;
  }
}

.toggle-menu {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 100;
  display: none;
  width: 40px;
  height: 50px;

  span {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);

    &::before, &::after {
      content: "";
      position: absolute;
      right: 0;
    }

    &::before {
      top: -12px;
    }
    &::after {
      top: 12px;
    }
  }

  span, span::before, span::after{
    width: 100%;
    height: 4px;
    background-color: $accent;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px $white;
    transition: $slowdown;
  }

  &_open {

    span {
      background-color: transparent;
      box-shadow: none;

      &::after {
        height: 4px;
        transform: translateY(-12px) rotate(45deg);
      }

      &::before {
        height: 4px;
        transform: translateY(12px) rotate(-45deg);
      }
    }
  }
}


/* top */
.top {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 700px;
  padding-top: 160px;
  padding-bottom: 100px;
  background-color: $blue;

  &__wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    color: $white;
    text-align: center;
  }

  &__hello {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    font-family: $font-accent;

    &_profession {
      font-size: 70px;
    }
  }

  &__text {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 28px;
    font-family: $font-accent;
    line-height: 1.2;
  }
}

/* section */
/* section */
/* section */


/* footer */
