@import 'vars';
@import 'mixins';
@import 'animation';

::placeholder {
  color: #adadad;
}
  
::selection {
  background-color: $accent;
  color: $white;
}
  
html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: inherit;
}
  
body {
  position: relative;
  min-width: 320px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: $font-default;
  line-height: 1.4;
  color: $blue;
  
  input, textarea {
    border: #666 1px solid;
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
  

@import 'blocks/elements';
@import 'blocks/header';
@import 'blocks/top';
@import 'blocks/advantages';
@import 'blocks/works';
@import 'blocks/resume';
@import 'blocks/infographic';
@import 'blocks/contacts';
@import 'blocks/portfolio';
@import 'blocks/project';
@import 'blocks/404';
@import 'blocks/examples';
@import 'blocks/footer';
@import 'blocks/form';
