@import 'vars';
@import 'mixins';


::placeholder {
  color: #adadad;
}
  
::selection {
  background-color: $accent;
  color: $white;
}
  
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: inherit;
}
  
body{
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: $font-default;
  line-height: 1.4;
  color: $blue;
  
  input, textarea {
    border: #666 1px solid;
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

b, strong {
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
  
.btn {
  display: block;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $accent;
  border: 2px solid #ffffff;
  border-radius: 30px;
  transition: $slowdown;
  cursor: pointer;
  
  &:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: darken($accent, 10%);
  }

  &:active {
    transform: scale(0.95);
  }
}
   
h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0;
}
  
.title-text {
  position: relative;
  margin-bottom: 0;
  font-size: 34px;
  font-family: $font-accent;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  &_reverse {
    color: $white;
  }
}
  
.text-accent {
  color: $accent;
}

.text-black {
  font-weight: 900;
}
  
.text-nowrap {
  white-space: nowrap;
}

@import 'animation';
  

/* grid */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @include desktop {
    max-width: 960px;
  }

  @include laptop {
    max-width: 760px;
    padding: 0 10px;
  }

  @include tablets {
    max-width: 540px;
  }

  @include phones {
    max-width: 320px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 40px;

  @include laptop {
    padding-top: 50px;
  }

  @include tablets {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @include phones {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}


/* header */
.header {
  position: relative;
  background-color: $blue;

  &_home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: none;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}

.logo {
  width: 160px;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    color: $white;
    text-decoration: none;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 40px;
    font-family: $font-accent;
  }

  &__description {
    font-size: 15px;
    font-weight: 300;
  }
}

.menu {

  &_hidden {
    display: none;
  }

  &_fixed {
    position: fixed;
    bottom: 50px;
    right: 50px;

    .menu {
      &__list {
        flex-direction: column;
        padding: 10px 0;
        background-color: $blue;
        border-radius: 15px;
        border: 2px solid $white;
      }

      &__item{
        min-width: 30px;
        margin: 0 12px;
      }

      &__link {
        position: relative;
        flex-direction: row-reverse;
        justify-content: flex-start;

        &:hover {
          .menu__name {
            display: block;
            transition: all 0.3s linear, opacity 0.4s ease-in;
          }
        }
      }

      &__name {
        position: absolute;
        top: 50%;
        right: 55px;
        display: none;
        width: auto;
        padding: 3px 6px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        color: $blue;
        text-align: right;
        background-color: $white;
        border: 2px solid $blue;
        border-radius: 5px;
        transform: translateY(-50%);
      }
    }
  }

  &__list {
    display: flex;
    @include lst;
  }

  &__item {
    min-width: 110px;
    margin: 0 10px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    font-weight: 300;
    font-size: 13px;
    font-family: $font-accent;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s linear;

    &:hover {
      text-decoration: none;

      .menu__svg {
        animation-name: hover-svg;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-timing-function: ease;
        animation-fill-mode: both;
      }
    }

    &:active {
      color: darken($white, 20%);

      .menu__svg {
        fill: darken($white, 20%);
      }
    }
  }

  &__svg {
    width: 30px;
    height: 30px;
    fill: $white;
    animation-name: hover-svg-revers;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    animation-fill-mode: both;
    transition: fill 0.2s linear;

    &_services {
      width: 26px;
    }

    &_business {
      width: 28px;
    }
  }

  &__name {
    transition: $slowdown;
  }
}

.toggle-menu {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 100;
  display: none;
  width: 40px;
  height: 50px;

  span {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);

    &::before, &::after {
      content: "";
      position: absolute;
      right: 0;
    }

    &::before {
      top: -12px;
    }
    &::after {
      top: 12px;
    }
  }

  span, span::before, span::after{
    width: 100%;
    height: 4px;
    background-color: $accent;
    border-radius: 2px;
    box-shadow: 0 0 1px 1px $white;
    transition: $slowdown;
  }

  &_open {

    span {
      background-color: transparent;
      box-shadow: none;

      &::after {
        height: 4px;
        transform: translateY(-12px) rotate(45deg);
      }

      &::before {
        height: 4px;
        transform: translateY(12px) rotate(-45deg);
      }
    }
  }
}


/* top */
.top {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 700px;
  padding-top: 160px;
  padding-bottom: 100px;
  overflow: hidden;
  background-color: $blue;

  &__wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    color: $white;
    text-align: center;
  }

  &__hello {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    font-family: $font-accent;

    &_profession {
      font-size: 70px;
    }
  }

  &__text {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 28px;
    font-family: $font-accent;
    line-height: 1.2;
  }
}


/* bg */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__circle {
    position: absolute;
    background-color: $accent;
    border-radius: 50%;
    filter: blur(15px);
    opacity: 0.3;
  
    &_1 {
      bottom: 10%;
      left: -10%;
      width: 350px;
      height: 350px;
    }
    &_2 {
      top: 20%;
      right: -5%;
      width: 250px;
      height: 250px;
    }
  }
  
  &__group {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
    &_1 {
      bottom: 20%;
      left: 0;
    }
    &_2 {
      top: 20%;
      right: 0;
    }
  }
  
  &__elem {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $white;
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0.2;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    &_1 {
      animation-name: rotate-1;
      animation-duration: 15s;
    }
  
    &_2 {
      animation-name: rotate-2;
      animation-duration: 20s;
      animation-delay: -10s;
    }
  
    &_3 {
      width: 70px;
      height: 70px;
      animation-name: rotate-3;
      animation-duration: 30s;
    }
  
    &_4 {
      background-color: $accent;
      animation-name: rotate-2;
      animation-duration: 25s;
      animation-delay: -5s;
    }
  
    &_5 {
      background-color: $accent;
      animation-name: rotate-3;
      animation-duration: 40s;
      animation-delay: -10s;
    }
  
    &_6 {
      width: 80px;
      height: 80px;
      animation-name: rotate-4;
      animation-duration: 40s;
    }
  }
  
  &__elem-z {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
    filter: blur(5px);
    opacity: 0.2;
    animation-name: zoom;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  
    &_1 {
      left: 15%;
      top: 30%;
    }
    &_2 {
      left: 40%;
      top: 80%;
      animation-delay: -2s;
    }
    &_3 {
      right: 15%;
      top: 60%;
      animation-delay: -4s;
    }
    &_4 {
      right: 40%;
      top: 80%;
    }
    &_5 {
      left: 5%;
      top: 10%;
      width: 30px;
      height: 30px;
      animation-delay: -1s;
    }
    &_6 {
      width: 30px;
      height: 30px;
      right: 5%;
      top: 85%;
      animation-delay: -2s;
    }
  }
}


/* advantages */
.advantages {

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include lst;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px 40px 0;
    padding: 40px 20px;
    border: 1px solid rgba($white, 0);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);

      .advantages__svg {
        transform: scale(1.4);
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
  }

  &__svg {
    fill: $blue;
    width: 50px;
    height: 50px;
    transition: $slowdown;
  }

  &__content {
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
    font-family: $font-accent;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
  }

  &__text {
    margin-bottom: 0;
    font-style: italic;
  }
}


/* works */
.works {
  padding-bottom: 50px;
  text-align: center;
  background-color: $blue;

  &__link {
    width: 340px;
    margin: 0 auto;
    font-size: 20px;
    text-decoration: none;
  }

  .swiper {
    &-container {
      margin-top: 50px;
      margin-bottom: 20px;
    }

    &-wrapper {
      padding-bottom: 50px;
    }

    &-button-next, &-button-prev {
      top: auto;
      bottom: 10px;
      z-index: 2;
      width: 30px;
      height: 30px;
      transition: $slowdown;

      &::after {
        display: none;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        fill: $accent;
        transform: translate(-50%, -50%);
      }
    }

    &-button-prev {
      left: 20%;
    }

    &-button-next {
      right: 20%;

      svg {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &-pagination {
      bottom: 15px;
      z-index: 1;

      &-bullet {
        margin: 0 6px!important;
        background-color: $white;
        opacity: 0.8;

        &-active {
          background-color: $accent;
          transform: scale(1.5);
        }
      }
    }
  }
}

.work {
  &__item {
    position: relative;
    display: block;
    width: 320px;
    height: auto;
    overflow: hidden;
    margin: 0 auto 25px;
    border: 4px solid $accent;

    &:hover {
      .work {
        &__inner {
          transform: scale(1.2);

          &::before {
            background: rgba($white, 0.75)
          }
        }
        &__name {
          opacity: 1
        }
      }
    }
  }

  &__inner {
    position: relative;
    display: block;
    background-color: $white;
    transition: all 0.5s ease;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: rgba($white, 0.25);
      transition: $slowdown;
    }
  }

  &__name {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    width: 100%;
    padding: 10px;
    font-family: $font-accent;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: $blue;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: $slowdown;
  }
}


/* resume */
.resume {
  padding-bottom: 60px;

  &__block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  &__foto {
    width: 30%;
    margin-top: 10px;
  }

  &__info {
    width: 70%;
    padding-left: 70px;

    p {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  &__subtitle {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 28px;
    font-family: $font-accent;
    line-height: 1;
  }

  &__text {
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  &__skill {
    margin: 30px;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-right: 0;
  }
}

.skill {
  &__text {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: $font-default;
  }

  &__wrap {
    position: relative;
    height: 4px;
    width: 100%;
    margin-bottom: 30px;
    background-color: rgba($accent, 0.6);
  
    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      height: 19px;
      width: 6px;
      transform: translateY(-50%);
      border-radius: 2px;
    }

    &::before {
      left: 0;
      background-color: $blue;
    }

    &::after {
      right: 0;
      background-color: $accent;
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    height: 11px;
    width: 0;
    background-color: $blue;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: translateY(-50%);
  }

  &__count {
    position: absolute;
    right: -8px;
    bottom: -22px;
    font-size: 16px;
    font-family: $font-default;
    color: $accent;

    &::before {
      content: '%';
      position: absolute;
      right: -12px;
      bottom: 0;
    }
  }
}


/* infographic */
.infographic {
  padding: 40px 0;
  background-color: $blue;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include lst;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    padding: 40px 20px;
    border-radius: 10px;
    transition: $slowdown;

    &:hover {
      background-color: rgba(#ffffff, 0.1);
      box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);

      svg {
        transform: scale(1.3);
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;

    svg {
      fill: $white;
      width: 70px;
      height: 70px;
      transition: $slowdown;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-accent;
    line-height: 1.2;
    color: $white;
    text-align: center;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 900;
    font-family: $font-accent;

    span {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 20px;
  }
}


/* contacts */
.contacts {

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 50%;

    &_list {
      display: flex;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    @include lst;
    margin: 60px 0 60px 100px;
  }

  &__item {
    position: relative;
    padding-left: 50px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;

    &_phone {
      &:hover {
        svg {
          animation-name: phone-ring;
          animation-duration: 0.8s;
          animation-iteration-count: 3;
          animation-timing-function: ease;
          animation-fill-mode: both;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    margin-right: 5px;
    fill: $blue;
  }

  &__link {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: lighten($blue, 10%);
      text-decoration: none;
    }
  }
}


/* form */
.form {
  position: relative;

  &_callback {
    width: 420px;
    margin: 40px auto;

    &::before {
      content: '';
      position: absolute;
      left: -75px;
      top: 50%;
      height: 70%;
      width: 2px;
      background-color: rgba($blue, 0.5);
      transform: translateY(-50%);
    }
  }
  
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    font-family: $font-accent;
    text-align: center;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }

  &__field {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 15px;
    font-weight: 500;
    color: darken($blue, 10%);
    border: 2px solid $accent;
    border-radius: 10px;
  }

  &__textarea {
    width: 100%;
    height: 165px;
    resize: none;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-weight: 500;
    color: darken($blue, 10%);
    border: 2px solid $accent;
    border-radius: 10px;
  }

  &__btn {
    margin-bottom: 15px;
    padding: 18px 15px;

    &:hover {
      background-color: $blue;
    }
  }

  &__checkbox {
    position: relative;
    position: relative;
    display: block;
    width: 300px;
    margin: 0 auto 10px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    color: #828282;
    cursor: pointer;
  
    &_default {
      display: none;
  
      &:checked + .form__checkbox_new {
        svg {
          display: block;
        } 
      }
    }

    &_new {
      position: absolute;
      left: 5px;
      top: 0;
      display: block;
      width: 16px;
      height: 16px;
      margin-right: 9px;
      border-radius: 4px;
      border: 2px solid #dcdcdc;
  
      svg {
        position: absolute;
        left: 75%;
        top: 30%;
        display: none;
        width: 20px;
        height: 20px;
        fill: $blue;
        transform: translate(-50%, -50%);
      }
    }

    a {
      color: lighten($blue, 15%);
      text-decoration: none;
      transition: $slowdown;

      &:hover {
        color: darken($blue, 10%);
        text-decoration: none;
      }
    }
  }

  &__success {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 26px;
    font-family: $font-accent;
    color: $accent;
    text-transform: uppercase;
    
    span {
      margin: auto;
    }

    & ~ * {
      transition: all .5s ease;
    }

    &_active {
      display: flex;

      & ~ * {
        opacity: .5;
        filter: blur(3px);
      }
    }
  }
}


/* section */
/* section */


/* footer */
.footer {
  color: $white;
  background-color: $blue;
  padding: 40px 0;

  &__wrap {
    display: flex;
  }

  &__column {
    display: flex;

    &_left {
      align-items: center;
      width: 35%;
      padding: 0 30px;
    }

    &_right {
      flex-direction: column;
      width: 65%;
    }
  }

  &__block {
    display: flex;
    padding: 0 30px;

    &_contacts {
      justify-content: flex-end;
      margin-bottom: 20px;
    }

    &_payment {
      align-items: center;
      margin-bottom: 10px;
    }
  }

  &__btn {
    margin-right: auto;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 30px;
  }

  &__copyright {
    font-size: 12px;
  }

  &__politic {
    font-size: 12px;
    color: $white;
    text-decoration: none;

    &:hover {
      color: darken($white, 20%);
      text-decoration: none;
    }
  }
}

.social {
  &__list {
    display: flex;
    align-items: center;
    @include lst;
  }

  &__item {
    padding: 5px;
    margin-left: 20px;

    svg {
      width: 25px;
      height: 25px;
    }
  }
}


/* error */
.error {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  overflow: hidden;
  background-color: $blue;
  color: $white;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 110px;
    font-family: $font-accent;
    line-height: 1;
  }

  &__text {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 24px;
    font-family: $font-accent;
    line-height: 1;
  }
}

/* btn-up */
.btn-up {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 100;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.3s ease;

  svg {
    width: 100%;
    height: 100%;
    fill: $accent;
    transition: $slowdown;
  }

  &_active {
    opacity: 1;
    animation-name: jump-btn;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: easy;
  }

  &:hover {
    animation-play-state: paused;

    svg {
      fill: lighten($accent, 20%);
      transform: scale(1.2);
    }
  }
}