::-webkit-input-placeholder {
  color: #666
}
::-moz-placeholder {
  color: #666
}
:-ms-input-placeholder {
  color: #666
}
::-ms-input-placeholder {
  color: #666
}
::placeholder {
  color: #666
}
::-moz-selection {
  background-color: #00bbf0;
  color: #fff
}
::selection {
  background-color: #00bbf0;
  color: #fff
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  line-height: 1.4;
  color: #005792
}
body input,
body textarea {
  border: #666 1px solid;
  outline: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
b,
strong {
  font-weight: 700
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0
}
.btn {
  display: block;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: #00bbf0;
  border: 2px solid #fff;
  border-radius: 30px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0093bd
}
.btn:active {
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95)
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2
}
p {
  margin-top: 0
}
.title-text {
  position: relative;
  margin-bottom: 0;
  font-size: 34px;
  font-family: Nunito,Times,serif;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase
}
.title-text_reverse {
  color: #fff
}
.text-accent {
  color: #00bbf0
}
.text-black {
  font-weight: 900
}
.text-nowrap {
  white-space: nowrap
}
@-webkit-keyframes hover-svg {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}
@keyframes hover-svg {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}
@-webkit-keyframes hover-svg-revers {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes hover-svg-revers {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0) translateX(150px) rotate(0);
    transform: rotate(0) translateX(150px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    transform: rotate(360deg) translateX(150px) rotate(-360deg)
  }
}
@keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0) translateX(150px) rotate(0);
    transform: rotate(0) translateX(150px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    transform: rotate(360deg) translateX(150px) rotate(-360deg)
  }
}
@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(0) translateX(300px) rotate(0);
    transform: rotate(0) translateX(300px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);
    transform: rotate(360deg) translateX(300px) rotate(-360deg)
  }
}
@keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(0) translateX(300px) rotate(0);
    transform: rotate(0) translateX(300px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);
    transform: rotate(360deg) translateX(300px) rotate(-360deg)
  }
}
@-webkit-keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(0) translateX(450px) rotate(0);
    transform: rotate(0) translateX(450px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(450px) rotate(-360deg);
    transform: rotate(360deg) translateX(450px) rotate(-360deg)
  }
}
@keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(0) translateX(450px) rotate(0);
    transform: rotate(0) translateX(450px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(450px) rotate(-360deg);
    transform: rotate(360deg) translateX(450px) rotate(-360deg)
  }
}
@-webkit-keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(0) translateX(550px) rotate(0);
    transform: rotate(0) translateX(550px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(550px) rotate(-360deg);
    transform: rotate(360deg) translateX(550px) rotate(-360deg)
  }
}
@keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(0) translateX(550px) rotate(0);
    transform: rotate(0) translateX(550px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(550px) rotate(-360deg);
    transform: rotate(360deg) translateX(550px) rotate(-360deg)
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
  50% {
    opacity: .4
  }
  100% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    opacity: 0
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
  50% {
    opacity: .4
  }
  100% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    opacity: 0
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px
}
@media screen and (max-width:1200px) {
  .container {
    max-width: 960px
  }
}
@media screen and (max-width:992px) {
  .container {
    max-width: 760px;
    padding: 0 10px
  }
}
@media screen and (max-width:768px) {
  .container {
    max-width: 540px
  }
}
@media screen and (max-width:576px) {
  .container {
    max-width: 320px
  }
}
.section {
  padding-top: 60px
}
@media screen and (max-width:992px) {
  .section {
    padding-top: 50px
  }
}
@media screen and (max-width:768px) {
  .section {
    padding-top: 40px
  }
}
@media screen and (max-width:576px) {
  .section {
    padding-top: 30px
  }
}
.header {
  position: relative;
  background-color: #005792
}
.header_home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: 0 0
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px
}
.logo {
  width: 160px
}
.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  text-decoration: none
}
.logo__link:hover {
  color: #fff;
  text-decoration: none
}
.logo__name {
  font-weight: 700;
  font-size: 40px;
  font-family: Nunito,Times,serif
}
.logo__description {
  font-size: 15px;
  font-weight: 300
}
.menu_hidden {
  display: none
}
.menu_fixed {
  position: fixed;
  bottom: 50px;
  right: 50px
}
.menu_fixed .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 0;
  background-color: #005792;
  border-radius: 15px;
  border: 2px solid #fff
}
.menu_fixed .menu__item {
  min-width: 30px;
  margin: 0 12px
}
.menu_fixed .menu__link {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.menu_fixed .menu__link:hover .menu__name {
  display: block;
  -webkit-transition: all .3s linear,opacity .4s ease-in;
  -o-transition: all .3s linear,opacity .4s ease-in;
  transition: all .3s linear,opacity .4s ease-in
}
.menu_fixed .menu__name {
  position: absolute;
  top: 50%;
  right: 55px;
  display: none;
  width: auto;
  padding: 3px 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #005792;
  text-align: right;
  background-color: #fff;
  border: 2px solid #005792;
  border-radius: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none
}
.menu__item {
  min-width: 110px;
  margin: 0 10px
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  font-weight: 300;
  font-size: 13px;
  font-family: Nunito,Times,serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}
.menu__link:hover {
  text-decoration: none
}
.menu__link:hover .menu__svg {
  -webkit-animation-name: hover-svg;
  animation-name: hover-svg;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
.menu__link:active {
  color: #ccc
}
.menu__link:active .menu__svg {
  fill: #ccc
}
.menu__svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  -webkit-animation-name: hover-svg-revers;
  animation-name: hover-svg-revers;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition: fill .2s linear;
  -o-transition: fill .2s linear;
  transition: fill .2s linear
}
.menu__svg_services {
  width: 26px
}
.menu__svg_business {
  width: 28px
}
.menu__name {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.toggle-menu {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 100;
  display: none;
  width: 40px;
  height: 50px
}
.toggle-menu span {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.toggle-menu span::after,
.toggle-menu span::before {
  content: "";
  position: absolute;
  right: 0
}
.toggle-menu span::before {
  top: -12px
}
.toggle-menu span::after {
  top: 12px
}
.toggle-menu span,
.toggle-menu span::after,
.toggle-menu span::before {
  width: 100%;
  height: 4px;
  background-color: #00bbf0;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px 1px #fff;
  box-shadow: 0 0 1px 1px #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.toggle-menu_open span {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none
}
.toggle-menu_open span::after {
  height: 4px;
  -webkit-transform: translateY(-12px) rotate(45deg);
  -ms-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg)
}
.toggle-menu_open span::before {
  height: 4px;
  -webkit-transform: translateY(12px) rotate(-45deg);
  -ms-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg)
}
.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 700px;
  padding-top: 160px;
  padding-bottom: 100px;
  overflow: hidden;
  background-color: #005792
}
.top__circle {
  position: absolute;
  background-color: #00bbf0;
  border-radius: 50%;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: .3
}
.top__circle_1 {
  bottom: 10%;
  left: -10%;
  width: 350px;
  height: 350px
}
.top__circle_2 {
  top: 20%;
  right: -5%;
  width: 250px;
  height: 250px
}
.top__group {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%
}
.top__group_1 {
  bottom: 20%;
  left: 0
}
.top__group_2 {
  top: 20%;
  right: 0
}
.top__elem {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: .2;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}
.top__elem_1 {
  -webkit-animation-name: rotate-1;
  animation-name: rotate-1;
  -webkit-animation-duration: 15s;
  animation-duration: 15s
}
.top__elem_2 {
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-delay: -10s;
  animation-delay: -10s
}
.top__elem_3 {
  width: 70px;
  height: 70px;
  -webkit-animation-name: rotate-3;
  animation-name: rotate-3;
  -webkit-animation-duration: 30s;
  animation-duration: 30s
}
.top__elem_4 {
  background-color: #00bbf0;
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-delay: -5s;
  animation-delay: -5s
}
.top__elem_5 {
  background-color: #00bbf0;
  -webkit-animation-name: rotate-3;
  animation-name: rotate-3;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-delay: -10s;
  animation-delay: -10s
}
.top__elem_6 {
  width: 80px;
  height: 80px;
  -webkit-animation-name: rotate-4;
  animation-name: rotate-4;
  -webkit-animation-duration: 40s;
  animation-duration: 40s
}
.top__elem-z {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: .2;
  -webkit-animation-name: zoom;
  animation-name: zoom;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}
.top__elem-z_1 {
  left: 15%;
  top: 30%
}
.top__elem-z_2 {
  left: 40%;
  top: 80%;
  -webkit-animation-delay: -2s;
  animation-delay: -2s
}
.top__elem-z_3 {
  right: 15%;
  top: 60%;
  -webkit-animation-delay: -4s;
  animation-delay: -4s
}
.top__elem-z_4 {
  right: 40%;
  top: 80%
}
.top__elem-z_5 {
  left: 5%;
  top: 10%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
.top__elem-z_6 {
  width: 30px;
  height: 30px;
  right: 5%;
  top: 85%;
  -webkit-animation-delay: -2s;
  animation-delay: -2s
}
.top__wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  color: #fff;
  text-align: center
}
.top__hello {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  font-family: Nunito,Times,serif
}
.top__hello_profession {
  font-size: 70px
}
.top__text {
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 28px;
  font-family: Nunito,Times,serif;
  line-height: 1.2
}
.advantages {
  padding-bottom: 40px
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  margin: 30px 40px 0;
  padding: 40px 20px;
  border: 1px solid rgba(255,255,255,0);
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  -o-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease,-webkit-box-shadow .3s ease
}
.advantages__item:hover {
  border: 1px solid rgba(0,87,146,.2);
  -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,.1);
  box-shadow: 0 0 15px 2px rgba(0,0,0,.1)
}
.advantages__item:hover .advantages__svg {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4)
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 20px
}
.advantages__svg {
  fill: #005792;
  width: 50px;
  height: 50px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.advantages__content {
  text-align: center
}
.advantages__title {
  margin-bottom: 10px;
  font-family: Nunito,Times,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1
}
.advantages__text {
  margin-bottom: 0;
  font-style: italic
}
.works {
  padding-bottom: 50px;
  text-align: center;
  background-color: #005792
}
.works__link {
  width: 340px;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none
}
.works .swiper-container {
  margin-top: 50px;
  margin-bottom: 20px
}
.works .swiper-wrapper {
  padding-bottom: 50px
}
.works .swiper-button-next,
.works .swiper-button-prev {
  top: auto;
  bottom: 10px;
  z-index: 2;
  width: 30px;
  height: 30px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.works .swiper-button-next::after,
.works .swiper-button-prev::after {
  display: none
}
.works .swiper-button-next svg,
.works .swiper-button-prev svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  fill: #00bbf0;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.works .swiper-button-prev {
  left: 20%
}
.works .swiper-button-next {
  right: 20%
}
.works .swiper-button-next svg {
  -webkit-transform: translate(-50%,-50%) rotate(180deg);
  -ms-transform: translate(-50%,-50%) rotate(180deg);
  transform: translate(-50%,-50%) rotate(180deg)
}
.works .swiper-pagination {
  bottom: 15px;
  z-index: 1
}
.works .swiper-pagination-bullet {
  margin: 0 6px!important;
  background-color: #fff;
  opacity: .8
}
.works .swiper-pagination-bullet-active {
  background-color: #00bbf0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5)
}
.work__item {
  position: relative;
  display: block;
  width: 320px;
  height: auto;
  overflow: hidden;
  margin: 0 auto 25px;
  border: 4px solid #00bbf0
}
.work__item:hover .work__inner {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}
.work__item:hover .work__inner::before {
  background: rgba(255,255,255,.75)
}
.work__item:hover .work__name {
  opacity: 1
}
.work__inner {
  position: relative;
  display: block;
  background-color: #fff;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}
.work__inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.25);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.work__name {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 10px;
  font-family: Nunito,Times,serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #005792;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.resume {
  padding-bottom: 60px
}
.resume__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px
}
.resume__foto {
  width: 30%;
  margin-top: 10px
}
.resume__info {
  width: 70%;
  padding-left: 70px
}
.resume__info p {
  margin-bottom: 10px;
  font-size: 20px
}
.resume__subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  font-family: Nunito,Times,serif;
  line-height: 1
}
.resume__text {
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 22px
}
.resume__skill {
  margin: 30px;
  margin-left: 50px;
  margin-bottom: 40px;
  margin-right: 0
}
.skill__text {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: Roboto,Arial,Helvetica,sans-serif
}
.skill__wrap {
  position: relative;
  height: 4px;
  width: 100%;
  margin-bottom: 30px;
  background-color: rgba(0,187,240,.6)
}
.skill__wrap::after,
.skill__wrap::before {
  content: '';
  position: absolute;
  top: 50%;
  height: 19px;
  width: 6px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 2px
}
.skill__wrap::before {
  left: 0;
  background-color: #005792
}
.skill__wrap::after {
  right: 0;
  background-color: #00bbf0
}
.skill__line {
  position: absolute;
  top: 50%;
  height: 11px;
  width: 0;
  background-color: #005792;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.skill__count {
  position: absolute;
  right: -8px;
  bottom: -22px;
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  color: #00bbf0
}
.skill__count::before {
  content: '%';
  position: absolute;
  right: -12px;
  bottom: 0
}
/*# sourceMappingURL=main.css.map */
