::-webkit-input-placeholder {
  color: #adadad
}
::-moz-placeholder {
  color: #adadad
}
:-ms-input-placeholder {
  color: #adadad
}
::-ms-input-placeholder {
  color: #adadad
}
::placeholder {
  color: #adadad
}
::-moz-selection {
  background-color: #4dd6fc;
  color: #fff
}
::selection {
  background-color: #4dd6fc;
  color: #fff
}
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
body {
  position: relative;
  min-width: 320px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  line-height: 1.4;
  color: #005792
}
body input,
body textarea {
  border: #666 1px solid;
  outline: 0
}
img {
  display: block;
  max-width: 100%;
  height: auto
}
b,
strong {
  font-weight: 700
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0
}
.btn {
  display: block;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: #4dd6fc;
  border: 2px solid #fff;
  border-radius: 30px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1bcafb
}
.btn:active {
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95)
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2
}
p {
  margin-top: 0
}
.title-text {
  position: relative;
  margin-bottom: 0;
  font-size: 34px;
  font-family: Nunito,Times,serif;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase
}
.title-text_reverse {
  color: #fff
}
.title-text_tax {
  font-size: 30px;
  color: #fff
}
.title-text_tax a {
  color: #fff;
  text-decoration: none
}
.title-text_tax a:hover {
  color: #e6e6e6
}
@media screen and (max-width:992px) {
  .title-text {
    font-size: 30px
  }
}
@media screen and (max-width:576px) {
  .title-text {
    font-size: 28px
  }
}
.text-accent {
  color: #4dd6fc
}
.text-black {
  font-weight: 900
}
.text-nowrap {
  white-space: nowrap
}
@-webkit-keyframes hover-svg {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}
@keyframes hover-svg {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}
@-webkit-keyframes hover-svg-revers {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes hover-svg-revers {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0) translateX(150px) rotate(0);
    transform: rotate(0) translateX(150px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    transform: rotate(360deg) translateX(150px) rotate(-360deg)
  }
}
@keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(0) translateX(150px) rotate(0);
    transform: rotate(0) translateX(150px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg);
    transform: rotate(360deg) translateX(150px) rotate(-360deg)
  }
}
@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(0) translateX(300px) rotate(0);
    transform: rotate(0) translateX(300px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);
    transform: rotate(360deg) translateX(300px) rotate(-360deg)
  }
}
@keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(0) translateX(300px) rotate(0);
    transform: rotate(0) translateX(300px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);
    transform: rotate(360deg) translateX(300px) rotate(-360deg)
  }
}
@-webkit-keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(0) translateX(450px) rotate(0);
    transform: rotate(0) translateX(450px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(450px) rotate(-360deg);
    transform: rotate(360deg) translateX(450px) rotate(-360deg)
  }
}
@keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(0) translateX(450px) rotate(0);
    transform: rotate(0) translateX(450px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(450px) rotate(-360deg);
    transform: rotate(360deg) translateX(450px) rotate(-360deg)
  }
}
@-webkit-keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(0) translateX(600px) rotate(0);
    transform: rotate(0) translateX(600px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(600px) rotate(-360deg);
    transform: rotate(360deg) translateX(600px) rotate(-360deg)
  }
}
@keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(0) translateX(600px) rotate(0);
    transform: rotate(0) translateX(600px) rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(600px) rotate(-360deg);
    transform: rotate(360deg) translateX(600px) rotate(-360deg)
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
  50% {
    opacity: .4
  }
  100% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    opacity: 0
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
  50% {
    opacity: .4
  }
  100% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    opacity: 0
  }
}
@-webkit-keyframes phone-ring {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  15% {
    -webkit-transform: translate3d(-25%,0,0) rotate(-5deg);
    transform: translate3d(-25%,0,0) rotate(-5deg)
  }
  30% {
    -webkit-transform: translate3d(20%,0,0) rotate(3deg);
    transform: translate3d(20%,0,0) rotate(3deg)
  }
  45% {
    -webkit-transform: translate3d(-15%,0,0) rotate(-3deg);
    transform: translate3d(-15%,0,0) rotate(-3deg)
  }
  60% {
    -webkit-transform: translate3d(10%,0,0) rotate(2deg);
    transform: translate3d(10%,0,0) rotate(2deg)
  }
  75% {
    -webkit-transform: translate3d(-5%,0,0) rotate(-1deg);
    transform: translate3d(-5%,0,0) rotate(-1deg)
  }
}
@keyframes phone-ring {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  15% {
    -webkit-transform: translate3d(-25%,0,0) rotate(-5deg);
    transform: translate3d(-25%,0,0) rotate(-5deg)
  }
  30% {
    -webkit-transform: translate3d(20%,0,0) rotate(3deg);
    transform: translate3d(20%,0,0) rotate(3deg)
  }
  45% {
    -webkit-transform: translate3d(-15%,0,0) rotate(-3deg);
    transform: translate3d(-15%,0,0) rotate(-3deg)
  }
  60% {
    -webkit-transform: translate3d(10%,0,0) rotate(2deg);
    transform: translate3d(10%,0,0) rotate(2deg)
  }
  75% {
    -webkit-transform: translate3d(-5%,0,0) rotate(-1deg);
    transform: translate3d(-5%,0,0) rotate(-1deg)
  }
}
@-webkit-keyframes jump-btn {
  0% {
    -webkit-transform: translateY(0) scaleY(.8) scaleX(1.2);
    transform: translateY(0) scaleY(.8) scaleX(1.2)
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  100% {
    -webkit-transform: translateY(0) scaleY(.8) scaleX(1.2);
    transform: translateY(0) scaleY(.8) scaleX(1.2)
  }
}
@keyframes jump-btn {
  0% {
    -webkit-transform: translateY(0) scaleY(.8) scaleX(1.2);
    transform: translateY(0) scaleY(.8) scaleX(1.2)
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
  }
  100% {
    -webkit-transform: translateY(0) scaleY(.8) scaleX(1.2);
    transform: translateY(0) scaleY(.8) scaleX(1.2)
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px
}
@media screen and (max-width:1200px) {
  .container {
    max-width: 960px
  }
}
@media screen and (max-width:992px) {
  .container {
    max-width: 760px;
    padding: 0 10px
  }
}
@media screen and (max-width:768px) {
  .container {
    max-width: 540px
  }
}
@media screen and (max-width:576px) {
  .container {
    max-width: 320px
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 40px
}
@media screen and (max-width:992px) {
  .section {
    padding-top: 50px
  }
}
@media screen and (max-width:768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 30px
  }
}
@media screen and (max-width:576px) {
  .section {
    padding-top: 30px;
    padding-bottom: 20px
  }
}
.header {
  position: relative;
  background: #005792
}
.header_home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: 0 0
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px
}
.logo {
  width: 160px
}
.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  text-decoration: none
}
.logo__link:hover {
  color: #fff;
  text-decoration: none
}
.logo__name {
  font-weight: 700;
  font-size: 40px;
  font-family: Nunito,Times,serif
}
.logo__description {
  font-size: 15px;
  font-weight: 300
}
@media screen and (max-width:992px) {
  .logo__name {
    font-size: 34px
  }
  .logo__description {
    font-size: 13px
  }
}
.menu_hidden {
  display: none
}
.menu_fixed {
  position: fixed;
  bottom: 50px;
  right: 50px
}
.menu_fixed .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 0;
  background-color: #005792;
  border-radius: 15px;
  border: 2px solid #fff
}
.menu_fixed .menu__item {
  min-width: 30px;
  margin: 12px 12px
}
.menu_fixed .menu__link {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.menu_fixed .menu__link:hover .menu__name {
  display: block;
  -webkit-transition: all .3s linear,opacity .4s ease-in;
  -o-transition: all .3s linear,opacity .4s ease-in;
  transition: all .3s linear,opacity .4s ease-in
}
.menu_fixed .menu__svg {
  margin-bottom: 0
}
.menu_fixed .menu__name {
  position: absolute;
  top: 50%;
  right: 55px;
  display: none;
  width: auto;
  padding: 3px 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #005792;
  text-align: right;
  background-color: #fff;
  border: 2px solid #005792;
  border-radius: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none
}
.menu__item {
  min-width: 110px;
  margin: 0 10px
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  font-size: 13px;
  font-family: Nunito,Times,serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}
.menu__link:hover {
  text-decoration: none
}
.menu__link:hover .menu__svg {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}
.menu__link:active {
  color: #ccc
}
.menu__link:active .menu__svg {
  fill: #ccc
}
.menu__svg {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  fill: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.menu__svg_business {
  width: 28px
}
.menu__name {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
@media screen and (max-width:992px) {
  .menu_fixed .menu__item {
    margin: 10px 8px
  }
  .menu_fixed .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .menu__item {
    min-width: 70px;
    margin: 0 8px
  }
  .menu__link {
    font-size: 12px
  }
  .menu__link:hover .menu__svg {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
  .menu__svg {
    margin-bottom: 5px;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
  }
}
@media screen and (max-width:768px) {
  .menu {
    display: none;
    position: fixed;
    bottom: auto;
    top: 80px;
    right: 25px
  }
  .menu_show {
    display: block
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 0;
    background-color: #005792;
    border-radius: 15px;
    border: 2px solid #fff
  }
  .menu__item {
    min-width: 30px;
    margin: 10px 8px
  }
  .menu__link {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .menu__link:hover .menu__name {
    display: block;
    -webkit-transition: all .3s linear,opacity .4s ease-in;
    -o-transition: all .3s linear,opacity .4s ease-in;
    transition: all .3s linear,opacity .4s ease-in
  }
  .menu__svg {
    margin-bottom: 0
  }
  .menu__name {
    position: absolute;
    top: 50%;
    right: 55px;
    display: none;
    width: auto;
    padding: 3px 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #005792;
    text-align: right;
    background-color: #fff;
    border: 2px solid #005792;
    border-radius: 5px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
  }
}
.toggle-menu {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 100;
  display: none;
  width: 40px;
  height: 50px;
  padding: 0;
  background: 0 0;
  border: none
}
.toggle-menu:active,
.toggle-menu:focus {
  outline: 0
}
.toggle-menu span {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.toggle-menu span::after,
.toggle-menu span::before {
  content: "";
  position: absolute;
  right: 0
}
.toggle-menu span::before {
  top: -12px
}
.toggle-menu span::after {
  top: 12px
}
.toggle-menu span,
.toggle-menu span::after,
.toggle-menu span::before {
  width: 100%;
  height: 4px;
  background-color: #4dd6fc;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px 1px #fff;
  box-shadow: 0 0 1px 1px #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.toggle-menu_open span {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none
}
.toggle-menu_open span::after {
  height: 4px;
  -webkit-transform: translateY(-12px) rotate(45deg);
  -ms-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg)
}
.toggle-menu_open span::before {
  height: 4px;
  -webkit-transform: translateY(12px) rotate(-45deg);
  -ms-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg)
}
@media screen and (max-width:768px) {
  .toggle-menu {
    display: block
  }
}
.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 700px;
  padding-top: 160px;
  padding-bottom: 100px;
  overflow: hidden;
  background-color: #005792
}
.top__wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  font-family: Nunito,Times,serif;
  color: #fff;
  text-align: center
}
.top__hello {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px
}
.top__profession {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 70px
}
.top__text {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2
}
@media screen and (max-width:992px) {
  .top {
    min-height: 550px
  }
  .top__hello {
    font-size: 22px
  }
  .top__profession {
    font-size: 55px
  }
  .top__text {
    font-size: 24px
  }
}
@media screen and (max-width:768px) {
  .top {
    min-height: 500px
  }
  .top__hello {
    margin-bottom: 5px
  }
  .top__profession {
    font-size: 46px
  }
  .top__text {
    font-size: 20px
  }
}
@media screen and (max-width:576px) {
  .top {
    min-height: 540px
  }
  .top__hello {
    margin-bottom: 15px;
    font-size: 20px
  }
  .top__profession {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1
  }
  .top__text {
    font-size: 18px
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.bg__circle {
  position: absolute;
  background-color: #4dd6fc;
  border-radius: 50%;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  opacity: .3
}
.bg__circle_1 {
  bottom: 10%;
  left: -10%;
  width: 350px;
  height: 350px
}
.bg__circle_2 {
  top: 20%;
  right: -5%;
  width: 250px;
  height: 250px
}
.bg__group {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%
}
.bg__group_1 {
  bottom: 20%;
  left: 0
}
.bg__group_2 {
  top: 20%;
  right: 0
}
.bg__elem {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: .2;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}
.bg__elem_1 {
  -webkit-animation-name: rotate-1;
  animation-name: rotate-1;
  -webkit-animation-duration: 15s;
  animation-duration: 15s
}
.bg__elem_2 {
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-delay: -10s;
  animation-delay: -10s
}
.bg__elem_3 {
  width: 70px;
  height: 70px;
  -webkit-animation-name: rotate-3;
  animation-name: rotate-3;
  -webkit-animation-duration: 30s;
  animation-duration: 30s
}
.bg__elem_4 {
  background-color: #4dd6fc;
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-delay: -5s;
  animation-delay: -5s
}
.bg__elem_5 {
  background-color: #4dd6fc;
  -webkit-animation-name: rotate-3;
  animation-name: rotate-3;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-delay: -10s;
  animation-delay: -10s
}
.bg__elem_6 {
  width: 80px;
  height: 80px;
  -webkit-animation-name: rotate-4;
  animation-name: rotate-4;
  -webkit-animation-duration: 40s;
  animation-duration: 40s
}
.bg__elem-z {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: .2;
  -webkit-animation-name: zoom;
  animation-name: zoom;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}
.bg__elem-z_1 {
  left: 15%;
  top: 30%
}
.bg__elem-z_2 {
  left: 40%;
  top: 80%;
  -webkit-animation-delay: -2s;
  animation-delay: -2s
}
.bg__elem-z_3 {
  right: 15%;
  top: 60%;
  -webkit-animation-delay: -4s;
  animation-delay: -4s
}
.bg__elem-z_4 {
  right: 40%;
  top: 80%
}
.bg__elem-z_5 {
  left: 5%;
  top: 10%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
.bg__elem-z_6 {
  width: 30px;
  height: 30px;
  right: 5%;
  top: 85%;
  -webkit-animation-delay: -2s;
  animation-delay: -2s
}
@media screen and (max-width:992px) {
  .bg__circle_1 {
    bottom: 10%;
    left: -20%;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
  }
  .bg__circle_2 {
    top: 20%;
    right: -10%;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
  }
  .bg__group_1 {
    left: -20%
  }
  .bg__group_2 {
    right: -20%
  }
}
@media screen and (max-width:768px) {
  .bg__circle_1 {
    bottom: 10%;
    left: -25%;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6)
  }
  .bg__circle_2 {
    top: 20%;
    right: -20%;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6)
  }
}
@media screen and (max-width:576px) {
  .bg__circle_1 {
    left: -50%
  }
  .bg__circle_2 {
    display: none
  }
  .bg__group_2 {
    display: none
  }
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  margin: 30px 40px 0;
  padding: 40px 20px;
  border: 1px solid rgba(255,255,255,0);
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  -o-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease,-webkit-box-shadow .3s ease
}
.advantages__item:hover {
  -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,.1);
  box-shadow: 0 0 15px 2px rgba(0,0,0,.1)
}
.advantages__item:hover .advantages__svg {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4)
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 30px
}
.advantages__svg {
  fill: #005792;
  width: 50px;
  height: 50px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.advantages__content {
  text-align: center
}
.advantages__title {
  margin-bottom: 10px;
  font-family: Nunito,Times,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1
}
.advantages__text {
  margin-bottom: 0;
  font-style: italic
}
@media screen and (max-width:992px) {
  .advantages__item {
    margin: 30px 20px 0
  }
}
@media screen and (max-width:768px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px
  }
  .advantages__item {
    margin: 0;
    padding: 30px 20px
  }
}
@media screen and (max-width:576px) {
  .advantages__item {
    width: 280px;
    padding: 40px 15px 30px
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 20px
  }
}
.works {
  padding-bottom: 50px;
  text-align: center;
  background-color: #005792
}
.works__link {
  width: 340px;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none
}
.works .swiper-container {
  margin-top: 50px;
  margin-bottom: 20px
}
.works .swiper-wrapper {
  padding-bottom: 50px
}
.works .swiper-button-next,
.works .swiper-button-prev {
  top: auto;
  bottom: 10px;
  z-index: 2;
  width: 30px;
  height: 30px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}
.works .swiper-button-next::after,
.works .swiper-button-prev::after {
  display: none
}
.works .swiper-button-next svg,
.works .swiper-button-prev svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  fill: #fff;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.works .swiper-button-next:hover svg,
.works .swiper-button-prev:hover svg {
  fill: #4dd6fc
}
.works .swiper-button-next:active,
.works .swiper-button-prev:active {
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9)
}
.works .swiper-button-prev {
  left: 20%
}
.works .swiper-button-next {
  right: 20%
}
.works .swiper-button-next svg {
  -webkit-transform: translate(-50%,-50%) rotate(180deg);
  -ms-transform: translate(-50%,-50%) rotate(180deg);
  transform: translate(-50%,-50%) rotate(180deg)
}
.works .swiper-pagination {
  bottom: 15px;
  z-index: 1
}
.works .swiper-pagination-bullet {
  margin: 0 6px!important;
  background-color: #fff;
  opacity: .8;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.works .swiper-pagination-bullet:hover {
  background-color: #4dd6fc
}
.works .swiper-pagination-bullet-active {
  background-color: #4dd6fc;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5)
}
@media screen and (max-width:576px) {
  .works__link {
    width: 290px;
    padding: 10px 20px
  }
  .works .swiper-container {
    margin-top: 30px
  }
}
.work__item {
  position: relative;
  display: block;
  width: 320px;
  height: auto;
  overflow: hidden;
  margin: 0 auto 25px;
  border: 4px solid #4dd6fc
}
.work__item:hover .work__inner {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}
.work__item:hover .work__inner::before {
  height: 100%;
  background: rgba(255,255,255,.8)
}
.work__item:hover .work__name {
  opacity: 1
}
.work__inner {
  position: relative;
  display: block;
  background-color: #fff;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}
.work__inner::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 100%;
  height: 0;
  background: rgba(255,255,255,.25);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease
}
.work__name {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 10px;
  font-family: Nunito,Times,serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #005792;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
@media screen and (max-width:1200px) {
  .work__item {
    width: 270px
  }
}
@media screen and (max-width:992px) {
  .work__item {
    width: 300px
  }
}
@media screen and (max-width:768px) {
  .work__item {
    width: 240px
  }
}
@media screen and (max-width:576px) {
  .work__item {
    width: 260px
  }
}
.resume {
  padding-bottom: 60px
}
.resume__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px
}
.resume__foto {
  width: 30%;
  margin-top: 10px
}
.resume__info {
  width: 70%;
  padding-left: 70px
}
.resume__info p {
  margin-bottom: 10px;
  font-size: 20px
}
.resume__subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  font-family: Nunito,Times,serif;
  line-height: 1
}
.resume__text {
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 22px
}
.resume__skill {
  margin: 30px;
  margin-left: 50px;
  margin-bottom: 40px;
  margin-right: 0
}
@media screen and (max-width:992px) {
  .resume__foto {
    width: 40%
  }
  .resume__info {
    width: 60%;
    padding-left: 30px
  }
  .resume__info p {
    margin-bottom: 6px;
    font-size: 18px
  }
  .resume__subtitle {
    font-size: 24px
  }
  .resume__skill,
  .resume__text {
    margin-left: 30px
  }
  .resume__text {
    font-size: 20px
  }
}
@media screen and (max-width:768px) {
  .resume__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .resume__foto {
    width: 340px;
    margin: 0 auto;
    margin-bottom: 20px
  }
  .resume__info {
    width: 100%
  }
}
@media screen and (max-width:576px) {
  .resume__block {
    margin-bottom: 30px
  }
  .resume__foto {
    width: 250px
  }
  .resume__info {
    padding-left: 0
  }
  .resume__info p {
    font-size: 16px
  }
  .resume__text {
    margin-left: 0;
    font-size: 18px
  }
  .resume__skill {
    margin-left: 0
  }
}
.skill__text {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: Roboto,Arial,Helvetica,sans-serif
}
.skill__wrap {
  position: relative;
  height: 4px;
  width: 100%;
  margin-bottom: 30px;
  background-color: rgba(77,214,252,.6)
}
.skill__wrap::after,
.skill__wrap::before {
  content: '';
  position: absolute;
  top: 50%;
  height: 19px;
  width: 6px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 2px
}
.skill__wrap::before {
  left: 0;
  background-color: #005792
}
.skill__wrap::after {
  right: 0;
  background-color: #4dd6fc
}
.skill__line {
  position: absolute;
  top: 50%;
  height: 11px;
  width: 0;
  background-color: #005792;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.skill__count {
  position: absolute;
  right: -8px;
  bottom: -22px;
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  color: #005792
}
.skill__count::before {
  content: '%';
  position: absolute;
  right: -12px;
  bottom: 0
}
.infographic {
  padding: 40px 0;
  background-color: #005792
}
.infographic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none
}
.infographic__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  padding: 40px 20px;
  border-radius: 10px
}
.infographic__item:hover {
  background-color: rgba(255,255,255,.1);
  -webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.1)
}
.infographic__item:hover svg {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3)
}
.infographic__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 20px
}
.infographic__icon svg {
  fill: #fff;
  width: 70px;
  height: 70px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.infographic__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Nunito,Times,serif;
  line-height: 1.2;
  color: #fff;
  text-align: center
}
.infographic__title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 900;
  font-family: Nunito,Times,serif
}
.infographic__title span {
  font-size: 32px
}
.infographic__text {
  font-size: 20px
}
@media screen and (max-width:1200px) {
  .infographic__item {
    width: 25%
  }
}
@media screen and (max-width:992px) {
  .infographic__item {
    width: 50%;
    padding: 30px 40px
  }
}
@media screen and (max-width:576px) {
  .infographic__item {
    width: 100%;
    padding: 20px 30px
  }
}
.contacts {
  padding: 70px
}
.contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px
}
.contacts__block {
  width: 50%
}
.contacts__block_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.contacts__block_form {
  position: relative
}
.contacts__block_form::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 70%;
  width: 2px;
  background-color: rgba(0,87,146,.5);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none
}
.contacts__item {
  position: relative;
  padding-left: 50px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px
}
.contacts__item_phone:hover svg {
  -webkit-animation-name: phone-ring;
  animation-name: phone-ring;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
.contacts__item:not(:last-child) {
  margin-bottom: 40px
}
.contacts__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  fill: #005792
}
.contacts__link {
  color: #005792;
  text-decoration: none
}
.contacts__link:hover {
  color: #0075c5;
  text-decoration: none
}
@media screen and (max-width:992px) {
  .contacts__item {
    padding-left: 40px;
    font-size: 20px
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 30px
  }
  .contacts__svg {
    width: 30px;
    height: 30px
  }
}
@media screen and (max-width:768px) {
  .contacts__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0
  }
  .contacts__block {
    width: 100%
  }
  .contacts__block_form::before {
    display: none
  }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 25px
  }
}
@media screen and (max-width:576px) {
  .contacts {
    padding: 40px 0
  }
  .contacts__item {
    font-size: 18px
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 20px
  }
}
.form {
  position: relative
}
.form_callback {
  margin: 0 auto
}
.form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  font-family: Nunito,Times,serif;
  text-align: center
}
.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  margin: 0 auto
}
.form__wrap br {
  display: none
}
.form__label {
  width: 100%;
  margin-bottom: 10px
}
.form__label_checkbox {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  color: #828282;
  text-align: center
}
.form__field {
  width: 100%;
  margin-top: 5px;
  padding: 12px 15px;
  font-weight: 500;
  color: #00395f;
  border: 2px solid #4dd6fc;
  border-radius: 10px
}
.form__textarea {
  width: 100%;
  height: 165px;
  resize: none;
  margin-top: 5px;
  padding: 10px 15px;
  font-weight: 500;
  color: #00395f;
  border: 2px solid #4dd6fc;
  border-radius: 10px
}
.form__btn {
  margin-bottom: 15px;
  padding: 18px 15px
}
.form__btn:hover {
  background-color: #005792
}
.form__checkbox {
  margin-right: 5px
}
.form__success {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  font-family: Nunito,Times,serif;
  color: #4dd6fc;
  text-transform: uppercase
}
.form__success span:last-child {
  font-size: 20px;
  text-transform: none
}
.form__success ~ * {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease
}
.form__success_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.form__success_active ~ * {
  opacity: .5;
  -webkit-filter: blur(3px);
  filter: blur(3px)
}
@media screen and (max-width:1200px) {
  .form_callback::before {
    left: -30px
  }
}
@media screen and (max-width:992px) {
  .form__wrap {
    width: 250px
  }
}
.portfolio {
  position: relative;
  padding-top: 160px;
  overflow: hidden;
  background-color: #005792
}
.portfolio__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px
}
.portfolio__item {
  position: relative;
  display: block;
  width: 260px;
  min-height: 360px;
  overflow: hidden;
  margin-bottom: 25px;
  margin-left: 25px;
  border: 4px solid #4dd6fc
}
.portfolio__item:hover .portfolio__inner {
  -webkit-filter: blur(2px);
  filter: blur(2px)
}
.portfolio__item:hover .portfolio__inner::before {
  height: 100%;
  background: rgba(255,255,255,.6)
}
.portfolio__item:hover .portfolio__name {
  opacity: 1
}
.portfolio__link {
  display: block;
  width: 100%;
  height: 100%
}
.portfolio__inner {
  position: relative;
  display: block;
  background-color: #fff;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease
}
.portfolio__inner::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 100%;
  height: 0;
  background: rgba(255,255,255,.1);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.portfolio__name {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  font-family: Nunito,Times,serif;
  line-height: 1.2;
  color: #005792;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
@media screen and (max-width:1200px) {
  .portfolio__wrap {
    margin-top: 40px
  }
  .portfolio__item {
    width: 270px;
    margin-left: 30px
  }
}
@media screen and (max-width:992px) {
  .portfolio__item {
    width: 220px;
    min-height: 320px;
    margin-bottom: 20px;
    margin-left: 20px
  }
}
@media screen and (max-width:768px) {
  .portfolio {
    padding-top: 140px
  }
  .portfolio__item {
    width: 250px;
    min-height: 360px;
    margin-left: 10px
  }
}
@media screen and (max-width:576px) {
  .portfolio {
    padding-top: 120px
  }
  .portfolio__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .portfolio__item {
    width: 280px;
    min-height: 410px;
    margin-left: 0
  }
}
.project {
  padding-top: 50px
}
.project__title-text {
  text-transform: none
}
.project__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px
}
.project__block_left {
  width: 48%
}
.project__block_center {
  width: 16%
}
.project__block_right {
  width: 32%
}
.project__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 28px;
  font-family: Nunito,Times,serif
}
.project__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: Nunito,Times,serif
}
.project__text {
  margin-bottom: 20px;
  margin-left: 30px
}
.project__text p {
  font-size: 18px
}
.project__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none
}
.project__text li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 18px;
  line-height: 1.3
}
.project__text li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #4dd6fc;
  border-radius: 50%
}
.project__text a {
  font-size: 22px;
  font-weight: 700;
  font-family: Nunito,Times,serif;
  color: #4dd6fc;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.project__text a:hover {
  color: #04b0df;
  text-decoration: none
}
.project__image {
  margin: 0 auto;
  border: 3px solid #4dd6fc
}
@media screen and (max-width:992px) {
  .project__title {
    font-size: 24px
  }
  .project__subtitle {
    font-size: 20px
  }
  .project__text {
    margin-left: 20px
  }
  .project__text li,
  .project__text p {
    font-size: 16px
  }
  .project__text a {
    font-size: 18px
  }
}
@media screen and (max-width:768px) {
  .project__wrap {
    margin-top: 30px
  }
  .project__block_left {
    width: 100%
  }
  .project__block_center {
    display: none
  }
  .project__block_right {
    width: 100%
  }
  .project__image {
    max-width: 400px
  }
}
.footer {
  color: #fff;
  background-color: #005792;
  padding: 40px 0
}
.footer__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50%;
  grid-template-columns: 50%;
  grid-template-areas: "logo social" "copyright links";
  padding: 0 10%
}
.footer__area {
  width: 100%
}
.footer__area_logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  min-height: 80px
}
.footer__area_social {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: social
}
.footer__area_copyright {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: copyright;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}
.footer__area_links {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}
.footer__btn {
  margin-right: auto
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 10%
}
.footer__copyright {
  font-size: 12px
}
.footer__link {
  font-size: 12px;
  color: #fff;
  text-decoration: none
}
.footer__link:hover {
  color: #ccc;
  text-decoration: none
}
@media screen and (max-width:992px) {
  .footer__wrap {
    padding: 0
  }
}
@media screen and (max-width:768px) {
  .footer__wrap {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "logo" "social" "links" "copyright"
  }
  .footer__area_logo {
    min-height: auto;
    margin-bottom: 20px;
    text-align: center
  }
  .footer__area_social {
    margin-bottom: 20px
  }
  .footer__area_copyright {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .footer__area_links {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px
  }
  .footer__logo {
    margin: 0 auto
  }
  .footer__copyright {
    text-align: center
  }
  .footer__area_logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }
  .footer__area_social {
    -ms-grid-row: 2;
    -ms-grid-column: 1
  }
  .footer__area_copyright {
    -ms-grid-row: 4;
    -ms-grid-column: 1
  }
  .footer__area_links {
    -ms-grid-row: 3;
    -ms-grid-column: 1
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none
}
.social__item {
  padding: 5px;
  margin-left: 20px
}
.social__item svg {
  width: 25px;
  height: 25px
}
@media screen and (max-width:768px) {
  .social__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .social__item {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px
  }
}
.error {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  overflow: hidden;
  background-color: #005792;
  color: #fff
}
.error__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  text-align: center
}
.error__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 110px;
  font-family: Nunito,Times,serif;
  line-height: 1
}
.error__text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  font-family: Nunito,Times,serif;
  line-height: 1
}
.btn-up {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 100;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.btn-up svg {
  width: 100%;
  height: 100%;
  fill: #4dd6fc;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.btn-up_active {
  opacity: 1;
  -webkit-animation-name: jump-btn;
  animation-name: jump-btn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: easy;
  animation-timing-function: easy
}
.btn-up:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}
.btn-up:hover svg {
  fill: #b1edfe;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}
@media screen and (max-width:576px) {
  .btn-up {
    bottom: 20px;
    left: 20px
  }
}
/*# sourceMappingURL=main.css.map */
