section.advantages.section#advantages
  .container
    h2.title-text Преимущества работы со мной
    ul.advantages__list
      li.advantages__item
        .advantages__icon
          +svg('stopwatch').advantages__svg
        .advantages__content
          h3.advantages__title Оптимальные сроки
          p.advantages__text Не задерживаю сдачи проектов.<br> Выполняю работы в оговоренные сроки, без потери качества.
      li.advantages__item
        .advantages__icon
          +svg('tools').advantages__svg
        .advantages__content
          h3.advantages__title Актуальные технологии верстки
          p.advantages__text При создании сайтов использую HTML5 и CSS3, JavaScript, применяю <span class="text-nowrap">SVG и CSS-анимацию</span>
      li.advantages__item
        .advantages__icon
          +svg('responsive').advantages__svg
        .advantages__content
          h3.advantages__title Aдаптивная верстка
          p.advantages__text Делаю качественную верстку сайта для отображения на различных экранах
      li.advantages__item
        .advantages__icon
          +svg('support').advantages__svg
        .advantages__content
          h3.advantages__title Поддержка и модернизация сайтов
          p.advantages__text Оперативно устраняю проблемы. Всегда на связи в Telegram и WhatsApp
      li.advantages__item
        .advantages__icon
          +svg('creativity').advantages__svg
        .advantages__content
          h3.advantages__title Опыт более 3 лет
          p.advantages__text Создание сайтов моя основная деятельность, создано более <span class="text-nowrap">100 сайтов</span>