section.error
  .bg
    span.bg__circle.bg__circle_1
    span.bg__circle.bg__circle_2
    div.bg__group.bg__group_1
      span.bg__elem.bg__elem_1
      span.bg__elem.bg__elem_2
      span.bg__elem.bg__elem_3
      span.bg__elem.bg__elem_4
      span.bg__elem.bg__elem_5
      span.bg__elem.bg__elem_6
    div.bg__group.bg__group_2
      span.bg__elem.bg__elem_1
      span.bg__elem.bg__elem_2
      span.bg__elem.bg__elem_3
      span.bg__elem.bg__elem_4
      span.bg__elem.bg__elem_5
      span.bg__elem.bg__elem_6
    .bg__elem-z.bg__elem-z_1
    .bg__elem-z.bg__elem-z_2
    .bg__elem-z.bg__elem-z_3
    .bg__elem-z.bg__elem-z_4
    .bg__elem-z.bg__elem-z_5
    .bg__elem-z.bg__elem-z_6


  .error__wrap
    h2.error__title Ошибка 404
    p.error__text Извините, такой страницы не существует.
