section.section.section--accent.examples
  .container
    h2.title-text.title-text_reverse Несколько моих работ
    ul.examples__wrap
      li.examples__item.example
        a(href="/").example__link
          .example__image
            +image('portfolio/', '1', 'Изображение сайта', '', 'jpg')
          .example__name Многостраничный сайт «Мой&nbsp;сервис»
      li.examples__item.example
        a(href="/").example__link
          .example__image
            +image('portfolio/', '2', 'Изображение сайта', '', 'jpg')
          .example__name Многостраничный сайт «Мой сервис»
      li.examples__item.example
        a(href="/").example__link
          .example__image
            +image('portfolio/', '3', 'Изображение сайта', '', 'jpg')
          .example__name Многостраничный сайт «Мой сервис»
      li.examples__item.example
        a(href="/").example__link
          .example__image
            +image('portfolio/', '4', 'Изображение сайта', '', 'jpg')
          .example__name Многостраничный сайт «Мой сервис»
      li.examples__item.example
        a(href="/").example__link
          .example__image
            +image('portfolio/', '5', 'Изображение сайта', '', 'jpg')
          .example__name Многостраничный сайт «Мой сервис»
      li.examples__item.example
        a(href="/").example__link
          .example__image
            +image('portfolio/', '6', 'Изображение сайта', '', 'jpg')
          .example__name Многостраничный сайт «Мой сервис»
