header.header.header_home
  .container
    .header__wrap
      .logo.header__logo
        a(href="/").logo__link
          span.logo__name WebDel
          span.logo__description Создание сайтов
      nav.menu.header__menu
        ul.menu__list
          li.menu__item
            a.menu__link(href="#advantages")
              +svg('like').menu__svg.menu__svg_like
              span.menu__name Преимущества
          li.menu__item
            a.menu__link(href="#resume")
              +svg('business').menu__svg.menu__svg_business
              span.menu__name Резюме
          li.menu__item
            a.menu__link(href="portfolio.html")
              +svg('briefcas').menu__svg.menu__svg_briefcas
              span.menu__name Портфолио
          li.menu__item
            a.menu__link(href="#contacts")
              +svg('contact').menu__svg.menu__svg_contacts
              span.menu__name Контакты

button.toggle-menu
  span