head
  title Webdel создание сайтов и верстка шаблонов
  meta(charset="utf-8")
  meta(name="description" content="Сайт-портфолио частного Frontend-разработчика. Оказываю услуги по созданию сайтов и верстке HTML-шаблонов по готовым макетам.")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

  link(href="https://fonts.googleapis.com/css?family=Nunito:400,700,900|Roboto:300,400,500,700&display=swap" rel="stylesheet")

  link(rel="stylesheet" href="./css/normalize.css")
  link(rel="stylesheet" href="./css/swiper.min.css")
  link(rel="stylesheet" href="./css/main.css")