section.infographic.section
  .container
    ul.infographic__list
      li.infographic__item
        .infographic__icon
          +svg('project')
        .infographic__content
          span.infographic__title за <span>3</span> дня
          span.infographic__text в среднем создаю посадочную страницу
      li.infographic__item
        .infographic__icon
          +svg('cogwheel')
        .infographic__content
          span.infographic__title за <span>1</span> день
          span.infographic__text подключаю верстку к CMS WordPress
      li.infographic__item
        .infographic__icon
          +svg('goal')
        .infographic__content
          span.infographic__title <span>3</span> года 
          span.infographic__text опыта в веб-разработке
      li.infographic__item
        .infographic__icon
          +svg('profits')
        .infographic__content
          span.infographic__title больше <span>100</span>
          span.infographic__text сайтов создано
          
