section.portfolio.section
  .bg
    span.bg__circle.bg__circle_1
    span.bg__circle.bg__circle_2
    div.bg__group.bg__group_1
      span.bg__elem.bg__elem_1
      span.bg__elem.bg__elem_2
      span.bg__elem.bg__elem_3
      span.bg__elem.bg__elem_4
      span.bg__elem.bg__elem_5
      span.bg__elem.bg__elem_6
    div.bg__group.bg__group_2
      span.bg__elem.bg__elem_1
      span.bg__elem.bg__elem_2
      span.bg__elem.bg__elem_3
      span.bg__elem.bg__elem_4
      span.bg__elem.bg__elem_5
      span.bg__elem.bg__elem_6
    .bg__elem-z.bg__elem-z_1
    .bg__elem-z.bg__elem-z_2
    .bg__elem-z.bg__elem-z_3
    .bg__elem-z.bg__elem-z_4
    .bg__elem-z.bg__elem-z_5
    .bg__elem-z.bg__elem-z_6

  .container
    h2.title-text Моё портфолио
    ul.portfolio__wrap
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '2', 'Изображение сайта', '', 'jpg')
          span.portfolio__name Многостраничный сайт для компании <span class="text-nowrap">«Мой сервис»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '10', 'Изображение лендинга', '', 'jpg')
          span.portfolio__name Лендинг для платформы <span class="text-nowrap">«Crazy coin»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '8', 'Изображение лендинга', '', 'jpg')
          span.portfolio__name Лендинг для компании «Zaмания»
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '12', 'Изображение лендинга', '', 'jpg')
          span.portfolio__name Лендинг по ринопластике
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '1', 'Изображение сайта', '', 'jpg')
          span.portfolio__name Многостраничный сайт проект для компании<br> «Петербургская компьютерная помощь»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '2', 'Изображение сайта', '', 'jpg')
          span.portfolio__name Многостраничный сайт для компании <span class="text-nowrap">«Мой сервис»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '10', 'Изображение лендинга', '', 'jpg')
          span.portfolio__name Лендинг для платформы <span class="text-nowrap">«Crazy coin»</span>
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '8', 'Изображение лендинга', '', 'jpg')
          span.portfolio__name Лендинг для компании «Zaмания»
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '12', 'Изображение лендинга', '', 'jpg')
          span.portfolio__name Лендинг по ринопластике
      li.portfolio__item
        a(href="project.html").portfolio__link
          span.portfolio__inner
            +image('portfolio/', '1', 'Изображение сайта', '', 'jpg')
          span.portfolio__name Многостраничный сайт проект для компании<br> «Петербургская компьютерная помощь»</span>