section.top
  span.top__circle.top__circle_1
  span.top__circle.top__circle_2
  div.top__group.top__group_1
    span.top__elem.top__elem_1
    span.top__elem.top__elem_2
    span.top__elem.top__elem_3
    span.top__elem.top__elem_4
    span.top__elem.top__elem_5
    span.top__elem.top__elem_6
  div.top__group.top__group_2
    span.top__elem.top__elem_1
    span.top__elem.top__elem_2
    span.top__elem.top__elem_3
    span.top__elem.top__elem_4
    span.top__elem.top__elem_5
    span.top__elem.top__elem_6
  .top__elem-z.top__elem-z_1
  .top__elem-z.top__elem-z_2
  .top__elem-z.top__elem-z_3
  .top__elem-z.top__elem-z_4
  .top__elem-z.top__elem-z_5
  .top__elem-z.top__elem-z_6

  .container
    .top__wrap
      h1.top__title.visually-hidden Портфолио Frontend-разработчика: создаю сайты, верстаю HTML-шаблоны и подключаю верстку к CMS WordPress
      p.top__hello Добрый день! 
        span.text-nowrap Меня зовут Виктор, и я<br>
        span.top__hello_profession Frontend-разработчик
      p.top__text
        span.text-nowrap Создаю Landing Page
        span.text-nowrap и многостраничные сайты