section.works.section#works
  .container
    //- h2.title-text.title-text_reverse Примеры моих работ
    .swiper-container.swiper-works
      .swiper-wrapper
        .swiper-slide
          a(href="/").work__item
            span.work__inner
              +image('portfolio/', '2', 'Изображение сайта', '', 'jpg')
            span.work__name Многостраничный сайт для компании <span class="text-nowrap">«Мой сервис»</span>
        .swiper-slide
          a(href="/").work__item
            span.work__inner
              +image('portfolio/', '10', 'Изображение лендинга', '', 'jpg')
            span.work__name Лендинг для платформы <span class="text-nowrap">«Crazy coin»</span>
        .swiper-slide
          a(href="/").work__item
            span.work__inner
              +image('portfolio/', '8', 'Изображение лендинга', '', 'jpg')
            span.work__name Лендинг для компании «Zaмания»
        .swiper-slide
          a(href="/").work__item
            span.work__inner
              +image('portfolio/', '12', 'Изображение лендинга', '', 'jpg')
            span.work__name Лендинг по ринопластике
        .swiper-slide
          a(href="/").work__item
            span.work__inner
              +image('portfolio/', '1', 'Изображение сайта', '', 'jpg')
            span.work__name Многостраничный сайт проект для компании<br> «Петербургская компьютерная помощь»</span>

      .swiper-button-prev
        +svg('back')
      .swiper-button-next
        +svg('back')
      .swiper-pagination

    a(href="portfolio.html").btn.works__link Смотреть все работы