include mixins/mixins.pug

doctype html

html(lang="ru-RU")
  include blocks/head.pug

  body.home
    include blocks/header-home.pug

    include blocks/top.pug
    include blocks/advantages.pug
    include blocks/works.pug
    include blocks/resume.pug
    include blocks/infographic.pug

    include blocks/contacts.pug
    include blocks/footer.pug