include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body
    include blocks/header-home.pug

    include blocks/top.pug
    include blocks/advantages.pug
    include blocks/services.pug
    include blocks/resume.pug
    include blocks/works.pug
    include blocks/infographic.pug

    include blocks/contacts.pug
    include blocks/footer.pug