include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body
    include blocks/header-home.pug

    include blocks/portfolio.pug

    include blocks/contacts.pug
    include blocks/footer.pug