include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body
    include blocks/header.pug

    include blocks/project.pug
    include blocks/works.pug

    include blocks/contacts.pug
    include blocks/footer.pug