.contacts {
  padding: 70px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__block {
    width: 50%;

    &_list {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_form {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: 70%;
        width: 2px;
        background-color: rgba($blue, 0.5);
        transform: translateY(-50%);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    @include lst;
  }

  &__item {
    position: relative;
    padding-left: 50px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;

    &_phone {
      &:hover {
        svg {
          animation-name: phone-ring;
          animation-duration: 0.8s;
          animation-iteration-count: 3;
          animation-timing-function: ease;
          animation-fill-mode: both;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    margin-right: 5px;
    fill: $blue;
  }

  &__link {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: lighten($blue, 10%);
      text-decoration: none;
    }
  }

  @include laptop {
    &__item {
      padding-left: 40px;
      font-size: 20px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__svg {
      width: 30px;
      height: 30px;
    }
  }

  @include tablets {
    &__wrap {
      flex-direction: column;
      margin-top: 0;
    }

    &__block {
      width: 100%;

      &_form {
        &::before {
          display: none;
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 0;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  @include phones {
    padding: 40px 0;

    &__item {
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}