.examples {
  padding-bottom: 50px;
  text-align: center;
  
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include lst;
    margin-top: 50px;
  }

  &__item {
    width: calc(33.33% - 2px);
    height: auto;
    overflow: hidden;
  }

  @include laptop {
    &__item {
      width: calc(50% - 2px);
    }
  }

  @include phones {
    &__item {
      width: 100%;
    }
  }
}

.example {
  margin-bottom: 4px;

  &__link {
    position: relative;
    display: block;
    font-size: 20px;
    text-decoration: none;
    transition: none;

    &:hover {
      .example {
        &__image {
          transform: scale(1.2);

          &::before {
            height: 100%;
            background: rgba($blue, 0.8)
          }
        }
        &__name {
          opacity: 1
        }
      }
    }
  }

  &__image {
    position: relative;
    display: block;
    background-color: $white;
    transition: all 0.4s ease;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 100%;
      height: 0;
      background: rgba(0,0,0, 0.75);
      transform: translate(-50%, -50%);
      transition: all 0.4s ease;
    }
  }

  &__name {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-accent;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: $white;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: $slowdown;
  }

  @include phones {
    &__link {  
      &:hover {
        .example {
          &__image {
            &::before {
              height: 100%;
              background: rgba($white, 0.6)
            }
          }
          &__name {
            color: $blue;
            opacity: 1
          }
        }
      }
    }

    &__image {
      &::before {
        height: 100%;
        background: rgba($white, 0.6)
      }
    }
    &__name {
      color: $blue;
      opacity: 1
    }
  }
}