.footer {
  color: $white;
  background-color: $blue;
  padding: 40px 0;

  &__wrap {
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas: "logo social" "copyright links";
    padding: 0 10%;
  }

  &__area {
    width: 100%;

    &_logo {
      grid-area: logo;
      min-height: 80px;
    }
    &_social {
      grid-area: social;
    }
    &_copyright {
      grid-area: copyright;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &_links {
      grid-area: links;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  &__btn {
    margin-right: auto;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 10%;
  }

  &__copyright {
    font-size: 12px;
  }

  &__link {
    font-size: 12px;
    color: $white;
    text-decoration: none;

    &:hover {
      color: darken($white, 20%);
      text-decoration: none;
    }
  }

  @include laptop {
    &__wrap {
      padding: 0;
    }
  }

  @include tablets {
    &__wrap {
      grid-template-columns: 100%;
      grid-template-areas: "logo" "social" "links" "copyright";
    }

    &__area {
      &_logo {
        min-height: auto;
        margin-bottom: 20px;
        text-align: center;
      }
      &_social {
        margin-bottom: 20px;
      }
      &_copyright {
        justify-content: center;
      }
      &_links {
        align-items: center;
        margin-bottom: 20px;
      }
    }

    &__logo {
      margin: 0 auto;
    }

    &__copyright {
      text-align: center;
    }
  }
}

.social {
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include lst;
  }

  &__item {
    padding: 5px;
    margin-left: 20px;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  @include tablets {
    &__list {
      justify-content: center;
    }
    &__item {
      padding: 5px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}